{
  "extends":"eslint:recommended",
  "env":{
    "browser":true,
    "node":true
  },
  "parser":"babel-eslint",
  "rules":{
    "strict":0,
    "valid-jsdoc":2,
    "react/jsx-uses-react":2,
    "react/jsx-uses-vars":2,
    "react/react-in-jsx-scope":2,
    "no-debugger": "off",
    "no-console": "off",
    "semi": [
      "error",
      "always"
    ]
  },
  "plugins":[
    "react"
  ]
}
